<!--Class menu button-->
<header>
  <input type="checkbox" id="btn-menu">
  <label for="btn-menu">
    <img src="https://marisagarcia.com.br/images/geral/icon-menu-responsivo.png">
  </label>
  
  <!-- Menu-->
  <nav class="menu" style="z-index: 99;" >
    <ul>
      <li><a href="">Inicio</a></li>
      <li><a href="postulante">Postulante</a></li>
      <li><a href="empleo">Empleos</a></li>
      <li><a href="">Reclutador</a></li>
      <li><a href="">Sobre</a></li>
    </ul>
  </nav>
</header>
