
h1{
  color: black;
}
.principal{
    font-size: 16px;
    color: black;
}

.animate__animated.animate__backInLeft {

    --animate-duration: 1s;
  }

.animate__bounceInUp{
    --animate-duration: 4s;
}
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 800ms;
    --animate-delay: 1.9s;
  }
