
<!-- <h1 class="text-center">Registro de Postulante</h1> -->

<form class="principal" autocomplete="off" (ngSubmit)="guardar()" [formGroup]="forma">

    
    <h3>Mis Datos: </h3>
    
    <div>
        <div class="form-group row ">                  
           
            <div class="col-10 col-md-4">
                <label class="col-10 col-form-label">Apellido Paterno</label>
                <input class="form-control" formControlName="apellidopaterno" type="text" placeholder="Apellido Paterno" [class.is-valid]="apellidopaternoValido" [class.is-invalid]="apellidopaternoNoValido">
                <small *ngIf="apellidopaternoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
                
            </div>

            <div class="col-10 col-md-4">
                <label class="col-10 col-form-label">Apellido Materno</label>
                <input class="form-control " formControlName="apellidomaterno" type="text" placeholder="Apellido Materno" [class.is-valid]="apellidomaternoValido" [class.is-invalid]="apellidomaternoNoValido">
                <small *ngIf="apellidomaternoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            
            <div class="col-10 col-md-4">
                <label class="col-10 col-form-label">Nombre</label>
                <input class="form-control" formControlName="nombre" type="text"  placeholder="Nombre" [class.is-valid]="nombreValido" [class.is-invalid]="nombreNoValido">
                <small *ngIf="nombreNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
        </div>

        <div class="form-group row">            
            <div class="col-5 col-md-3 ">
                <label class="col-12 col-form-label">F. Nacimiento</label>                
                <input class="form-control" formControlName="fechanacimiento" type="date" [class.is-valid]="fechanacimientoValido" [class.is-invalid]="fechanacimientoNoValido"  >
                <small  *ngIf="fechanacimientoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            <div class="col-5 col-md-3">
                <label class="col-6 col-form-label">Sexo</label>
                <input class="form-control" formControlName="sexo" type="text"  placeholder="Sexo" [class.is-valid]="sexoValido" [class.is-invalid]="sexoNoValido" >
                <small *ngIf="sexoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            <div class="col-5 col-md-3">
                <label class="col-6 col-form-label">DNI</label>
                <input class="form-control" formControlName="dni" type="text"  placeholder="DNI" [class.is-valid]="dniValido" [class.is-invalid]="dniNoValido">
                <small *ngIf="dniNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            <div class="col-5 col-md-3">
                <label class="col-6 col-form-label">Brevete</label>
                <input class="form-control" formControlName="brevete" type="text" placeholder="Brevete" [class.is-valid]="breveteValido" [class.is-invalid]="breveteNoValido" >
                <small *ngIf="breveteNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
        </div>

        <div class="form-group row">            
            <div class="col-1">
                <label class="col-4 col-form-label">Telefono</label>
                <input class="form-control" formControlName="codigopais" type="text" [class.is-valid]="codigopaisValido" [class.is-invalid]="codigopaisNoValido" >
                <small *ngIf="codigopaisNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            <div class="col-3">
                <label class="col-6 col-form-label">&nbsp;</label>
                <input class="form-control" formControlName="numerotelefono" type="text" [class.is-valid]="numerotelefonoValido" [class.is-invalid]="numerotelefonoNoValido">
                <small *ngIf="numerotelefonoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            <div class="col-7">
                <label class="col-12 col-form-label">E-mail</label>
                <input class="form-control" formControlName="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-valid]="emailValido" [class.is-invalid]="emailNoValido">
                <small *ngIf="emailNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            <div class="col-3">
                <label class="col-3 col-form-label">Pais</label>
                    <select class="form-control" formControlName="cargo1" (change)="seleccionarCargo1($event)" [class.is-valid]="cargo1Valido" [class.is-invalid]="cargo1NoValido" >
                        <option value="">Seleccione</option>
                        <option *ngFor="let cargos1 of Cargos">{{cargos1}}</option>
                    </select>
                <small *ngIf="paisNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
        </div>

        <div class="form-group row ">                  
           
            <div class="col-3">
                <label class="col-12 col-form-label">Departamento</label>
                    <select class="form-control" formControlName="cargo1" (change)="seleccionarCargo1($event)" [class.is-valid]="cargo1Valido" [class.is-invalid]="cargo1NoValido" >
                        <option value="">Seleccione</option>
                        <option *ngFor="let cargos1 of Cargos">{{cargos1}}</option>
                    </select>
                <small *ngIf="departamentoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>

            <div class="col-3">
                <label class="col-12 col-form-label">Provincia</label>
                    <select class="form-control" formControlName="cargo1" (change)="seleccionarCargo1($event)" [class.is-valid]="cargo1Valido" [class.is-invalid]="cargo1NoValido" >
                        <option value="">Seleccione</option>
                        <option *ngFor="let cargos1 of Cargos">{{cargos1}}</option>
                    </select>
                <small *ngIf="provinciaNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            
            <div class="col-3">
                <label class="col-12 col-form-label">Distrito</label>
                    <select class="form-control" formControlName="cargo1" (change)="seleccionarCargo1($event)" [class.is-valid]="cargo1Valido" [class.is-invalid]="cargo1NoValido" >
                        <option value="">Seleccione</option>
                        <option *ngFor="let cargos1 of Cargos">{{cargos1}}</option>
                    </select>
                <small *ngIf="distritoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
        </div>
        <div class="form-group row " >            
            <div class="col-10">
                <label class="col-10 col-form-label">Direccion</label>
                <input class="form-control" formControlName="direccion" type="text" [class.is-valid]="direccionValido" [class.is-invalid]="direccionNoValido" >
                <small *ngIf="direccionNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>           
            
        </div>   

    </div>  
    <br>
    <br>
    <h3>Mi Grado Academico: </h3>
    <hr>
    <div>
        <div class="form-group row ">                  
           
            <div class="col-6 col-md-4">
                <label class="col-12 col-form-label">Grado Academico</label>
                <input class="form-control" formControlName="gradoacademico" type="text" [class.is-valid]="gradoacademicoValido" [class.is-invalid]="gradoacademicoNoValido" >
                <small *ngIf="gradoacademicoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>

            <div class="col-6 col-md-4">
                <label class="col-12 col-form-label">Universidad</label>
                <input class="form-control" formControlName="universidad" type="text" [class.is-valid]="universidadValido" [class.is-invalid]="universidadNoValido" >
                <small *ngIf="universidadNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            
            <div class="col-10 col-md-4">
                <label class="col-12 col-form-label">Carrera, Especialidad</label>
                <input class="form-control" formControlName="carrera" type="text" [class.is-valid]="carreraValido" [class.is-invalid]="carreraNoValido">
                <small *ngIf="carreraNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-4 col-md-2">
                <label class="col-12 col-form-label">Fecha inicio</label>
                <input class="form-control" formControlName="fechainicio" type="date" [class.is-valid]="fechainicioValido" [class.is-invalid]="fechainicioNoValido">
                <small *ngIf="fechainicioNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>
            <div class="col-4 col-md-2">
                <label class="col-12 col-form-label">Fecha egreso</label>
                <input class="form-control" formControlName="fechaegreso" type="date" [class.is-valid]="fechaegresoValido" [class.is-invalid]="fechaegresoNoValido">
                <small *ngIf="fechaegresoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>
            </div>        
            <div class="col-4 col-md-2 form-check">
                <br>
                <br>
                <input class="form-check-input" type="checkbox" id="encurso" name="encurso" >
                
                <label class="form-check-label">&nbsp; &nbsp; En curso</label>
                
            </div>  
        </div>

       

          
     

    </div> 
    <br>
    <br>
    <h3>Mi Experiencia: </h3>
    <hr>
    <div>
        <div class="form-group row ">                  
           
            <div class="col-5 col-md-2">     
                <input class="form-control" formControlName="fechaempezoatrabajar" type="date" [class.is-valid]="fechaempezoatrabajarValido" [class.is-invalid]="fechaempezoatrabajarNoValido">   
                <small *ngIf="fechaempezoatrabajarNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>             
             </div>
            <div class="col-7 col-md-4">
                <label class="col-12 col-form-label">Cuando empezo a trabajar?</label>
            </div>        
        </div>

        <div class="form-group row ">            
            <div class="col-5 col-md-2">                
                <input class="form-control" type="text" formControlName="examinar" placeholder="examinar" [class.is-valid]="examinarValido" [class.is-invalid]="examinarNoValido">
                <small *ngIf="examinarNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
            </div>
            <div class="col-4 col-md-4">                
                <input type="file" id="examinarseleccion" style="color: transparent" formControlName="examinarseleccion" [class.is-valid]="examinarseleccionValido" [class.is-invalid]="examinarseleccionNoValido">
                <small *ngIf="examinarseleccionNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
            </div>            
            
        </div>   
        
        <div class="form-group row ">
            <div class="col-12">
                <label class="col-12 col-form-label">Resuma su Experiencia, coloque los aspectos mas significativos y recientes de su Experiencia laboral</label>                
                <textarea class="form-control" formControlName="resumen" rows="5" [class.is-valid]="resumenValido" [class.is-invalid]="resumenNoValido" ></textarea>
                <small *ngIf="resumenNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
            </div>
            
               
        </div>

        <div class="form-group row">
            <div class="col-12">
                <label class="col-12 col-form-label">Registre sus tres ultimas Experiencias laborales</label>                
                
            </div>
            <div class="col-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#exp1">1</a></li>
                    <li><a data-toggle="tab" href="#exp2">2</a></li>
                    <li><a data-toggle="tab" href="#exp3">3</a></li>
                  </ul>
                
                  <div class="tab-content">
                    <div id="exp1" class="tab-pane fade in active">
                        <br>
                      <div class="form-group row">
                        <div class="col-12 col-md-6">
                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="col-6 ">Puesto</label>
                                    <input class="form-control" formControlName="puesto1" type="text" [class.is-valid]="puesto1Valido" [class.is-invalid]="puesto1NoValido">
                                    <small *ngIf="puesto1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="col-12 col-form-label">Fecha Inicio</label>
                                    <input class="form-control" formControlName="fechainicio1" type="date" [class.is-valid]="fechainicio1Valido" [class.is-invalid]="fechainicio1NoValido">
                                    <small *ngIf="fechainicio1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                                <div class="col-6">
                                    <label class="col-12 col-form-label">Fecha Fin</label>
                                    <input class="form-control" formControlName="fechafin1" type="date" [class.is-valid]="fechafin1Valido" [class.is-invalid]="fechafin1NoValido">
                                    <small *ngIf="fechafin1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-7 col-md-6">
                                    <label class="col-12 col-form-label">Jefe de referencia</label>
                                    <input class="form-control" formControlName="jefereferencia1" type="text" [class.is-valid]="jefereferencia1Valido" [class.is-invalid]="jefereferencia1NoValido">
                                    <small *ngIf="jefereferencia1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                    
                                <div class="col-5 col-md-6">
                                    <label class="col-12 col-form-label">Cargo</label>
                                    <select class="form-control" formControlName="cargo1" (change)="seleccionarCargo1($event)" [class.is-valid]="cargo1Valido" [class.is-invalid]="cargo1NoValido" >
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let cargos1 of Cargos">{{cargos1}}</option>
                                    </select>
                                    <small *ngIf="cargo1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label class="col-12 col-form-label">Telefono</label>
                                    <input class="form-control" formControlName="telefono1" type="text" [class.is-valid]="telefono1Valido" [class.is-invalid]="telefono1NoValido">
                                    <small *ngIf="telefono1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                    
                                <div class="col-9">
                                    <label class="col-12 col-form-label">E-mail</label>
                                    <input class="form-control" formControlName="email1" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-valid]="email1Valido" [class.is-invalid]="email1NoValido">
                                    <small *ngIf="email1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="col-12 col-form-label">Breve descripción:</label>                
                                    <textarea class="form-control" formControlName="descripcion1" rows="14" [class.is-valid]="descripcion1Valido" [class.is-invalid]="descripcion1NoValido"></textarea>
                                    <small *ngIf="descripcion1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                                
                                   
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="exp2" class="tab-pane fade">
                        <br>
                      <div class="form-group row">
                        <div class="col-12 col-md-6">
                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="col-6 ">Puesto</label>
                                <input class="form-control" formControlName="puesto2" type="text" [class.is-valid]="puesto2Valido" [class.is-invalid]="puesto2NoValido">
                                <small *ngIf="puesto2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="col-12 col-form-label">Fecha Inicio</label>
                                    <input class="form-control" formControlName="fechainicio2" type="date" [class.is-valid]="fechainicio2Valido" [class.is-invalid]="fechainicio2NoValido">
                                    <small *ngIf="fechainicio2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                                <div class="col-6">
                                    <label class="col-12 col-form-label">Fecha Fin</label>
                                    <input class="form-control" formControlName="fechafin2" type="date" [class.is-valid]="fechafin2Valido" [class.is-invalid]="fechafin2NoValido">
                                    <small *ngIf="fechafin2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label class="col-12 col-form-label">Jefe de referencia</label>
                                    <input class="form-control" formControlName="jefereferencia2" type="text" [class.is-valid]="jefereferencia2Valido" [class.is-invalid]="jefereferencia2NoValido">
                                    <small *ngIf="jefereferencia2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                    
                                <div class="col-6">
                                    <label class="col-12 col-form-label">Cargo</label>
                                    <select class="form-control" formControlName="cargo2" (change)="seleccionarCargo2($event)" [class.is-valid]="cargo2Valido" [class.is-invalid]="cargo2NoValido" >
                                        <option value="">Seleccione</option>
                                        <option *ngFor="let cargos2 of Cargos">{{cargos2}}</option>
                                    </select>
                                    <small *ngIf="cargo2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-3">
                                    <label class="col-12 col-form-label">Telefono</label>
                                    <input class="form-control" formControlName="telefono2" type="text" [class.is-valid]="telefono2Valido" [class.is-invalid]="telefono2NoValido">
                                    <small *ngIf="telefono2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                    
                                <div class="col-9">
                                    <label class="col-12 col-form-label">E-mail</label>
                                    <input class="form-control" formControlName="email2" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-valid]="email2Valido" [class.is-invalid]="email2NoValido">
                                    <small *ngIf="email2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group row">
                                <div class="col-12">
                                    <label class="col-12 col-form-label">Breve descripción:</label>                
                                    <textarea class="form-control" formControlName="descripcion2" rows="14" [class.is-valid]="descripcion2Valido" [class.is-invalid]="descripcion2NoValido"></textarea>
                                    <small *ngIf="descripcion2NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                </div>
                                
                                   
                            </div>
                        </div>
                    </div>
                    </div>
                    <div id="exp3" class="tab-pane fade">
                        <br>
                        <div class="form-group row">
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label class="col-6 ">Puesto</label>
                                    <input class="form-control" formControlName="puesto3" type="text" [class.is-valid]="puesto3Valido" [class.is-invalid]="puesto3NoValido">
                                    <small *ngIf="puesto3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label class="col-12 col-form-label">Fecha Inicio</label>
                                        <input class="form-control" formControlName="fechainicio3" type="date" [class.is-valid]="fechainicio3Valido" [class.is-invalid]="fechainicio3NoValido">
                                        <small *ngIf="fechainicio3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                                    <div class="col-6">
                                        <label class="col-12 col-form-label">Fecha Fin</label>
                                        <input class="form-control" formControlName="fechafin3" type="date" [class.is-valid]="fechafin3Valido" [class.is-invalid]="fechafin3NoValido">
                                        <small *ngIf="fechafin3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-6">
                                        <label class="col-12 col-form-label">Jefe de referencia</label>
                                        <input class="form-control" formControlName="jefereferencia3" type="text" [class.is-valid]="jefereferencia3Valido" [class.is-invalid]="jefereferencia3NoValido">
                                        <small *ngIf="jefereferencia3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                        
                                    <div class="col-6">
                                        <label class="col-12 col-form-label">Cargo</label>
                                        <select class="form-control" formControlName="cargo3" (change)="seleccionarCargo3($event)" [class.is-valid]="cargo3Valido" [class.is-invalid]="cargo3NoValido" >
                                            <option value="">Seleccione</option>
                                            <option *ngFor="let cargos3 of Cargos">{{cargos3}}</option>
                                        </select>
                                        <small *ngIf="cargo3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-3">
                                        <label class="col-12 col-form-label">Telefono</label>
                                        <input class="form-control" formControlName="telefono3" type="text" [class.is-valid]="telefono3Valido" [class.is-invalid]="telefono3NoValido">
                                        <small *ngIf="telefono3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                        
                                    <div class="col-9">
                                        <label class="col-12 col-form-label">E-mail</label>
                                        <input class="form-control" formControlName="email3" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" [class.is-valid]="email3Valido" [class.is-invalid]="email3NoValido">
                                        <small *ngIf="email3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group row">
                                    <div class="col-12">
                                        <label class="col-12 col-form-label">Breve descripción:</label>                
                                        <textarea class="form-control" formControlName="descripcion3" rows="14" [class.is-valid]="descripcion3Valido" [class.is-invalid]="descripcion3NoValido" ></textarea>
                                        <small *ngIf="descripcion3NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
                                    </div>
                                    
                                       
                                </div>
                            </div>
                        </div>
                      <div class="form-group row">
                        
                            
                                
                        </div>
                    </div>
                  </div>
            </div>
            
               
        </div>
     

    </div> 


    <div class="form-group row">
        <div class="input-group col-6">
            <button type="submit" class="btn btn-outline-primary btn-block">
             Guardar
            </button>
        </div>
        <div class="input-group col-6">
            <button type="submit" class="btn btn-outline-primary btn-block">
             Cancelar
            </button>
        </div>
        
    </div>

</form>
