

<form class="empleo" autocomplete="off" (ngSubmit)="guardar()" [formGroup]="exp">
<h3 >Nueva Oferta laboral</h3>
<div class="contenedorempleo">
    <div class="form-group row">
    
        <div class="col-12 col-md-6">
            <label class="col-6 col-form-label">Puesto</label>
            <input class="form-control" type="text"> 
            <!-- <input class="form-control" formControlName="puesto" type="text" placeholder="Puesto" [class.is-valid]="puesto" [class.is-invalid]="puesto"> -->
            <!-- <small *ngIf="apellidopaternoNoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> -->
            
        </div>
        <div class="col-6 col-md-3">
            
            <label class="col-12 col-form-label">Fecha de Publicación</label>
            <input class="form-control"  type="date"> <!--formControlName="fechapublicacion"-->
        </div>
        <div class="col-6 col-md-3">
            
            <label class="col-12 col-form-label">Fecha de Fin de Anuncio</label>
            <input class="form-control"   type="date"><!--formControlName="fechafinanuncio"-->
        </div>
        
    </div>

    <div class="form group row">

        <div class="col-6 col-md-3">
            <!-- <label class="col-12 col-form-label">Años de Experiencia</label> -->
            <select class="form-control" style="margin-bottom: 15px;" >
                <option value="">Años de Experiencia</option>               
            </select>
            <!-- <small *ngIf="cargo1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>  -->
        </div>
        <div class="col-6 col-md-3">            
            <select class="form-control" style="margin-bottom: 15px;"  >
                <option value="">Rango Salarial</option>
            </select>
            <!-- <small *ngIf="cargo1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>  -->
        </div>
        <div class="col-md-3">
            
            <select class="form-control" style="margin-bottom: 15px;"  >
                <option value="">Tipo de Puesto
                </option>
                
            </select>
            <!-- <small *ngIf="cargo1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>  -->
        </div>
        <div class="col-md-3">
            
            <select class="form-control"  >
                <option value="">Area</option>
                
            </select>
            <!-- <small *ngIf="cargo1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small>  -->
        </div>
        <!-- <div class="col-4">
            <label class="col-12 col-form-label">Cargo</label>
            <select class="form-control" formControlName="cargo1" (change)="seleccionarCargo1($event)" [class.is-valid]="cargo1Valido" [class.is-invalid]="cargo1NoValido" >
                <option value="">Seleccione</option>
                
            </select>
            <small *ngIf="cargo1NoValido" class="form-text text-danger animate__animated animate__backInLeft">Este campo es obligatorio</small> 
        </div> -->
    </div>
    <br>
    <div class="form-group row col-12" >

        <div class="form-check col-12 cold-md-3" style="margin-bottom: 15px;">
            <input class="form-check-input" type="checkbox" id="check1" name="option1" >
            &nbsp;
            <label class="form-check-label ">&nbsp; &nbsp; Discapacitados</label>
            
        </div>
        
        <div class="form-check col-12 cold-md-3" >
            <input class="form-check-input" type="checkbox" id="check1" name="option1" >
            
            <label class="form-check-label col-6 cold-md-3">&nbsp; &nbsp; Mostrar Informacion de la Empresa</label>
            
        </div>
    </div>
    <div class="carrera-funcion form-group row ">
        <div class=" carrera form-group  col-md-5">
            <div class="carrera form-group   row  " >
                <div class="col-7">
                    <select class="form-control">
                        <option value="">Carreras</option>                 
                    </select>                
                </div>
                <div class="input-group col-5">
                    <button type="submit" class="btn btn-outline-primary btn-block">
                     Agregar
                    </button>
                </div>
            </div>
         
            <div class="form-group   ">
                <table class=" table table-bordered">
                    <thead>
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>John</td>
                        <td>Doe</td>
                      </tr>
                      <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>Dooley</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
         
        <div class=" funcion col-md-7">          
            <textarea name="Funciones" id="" style="width: 100%;" rows="10" ></textarea>
        </div>
    </div>

    <div class="carrera-funcion form-group row ">
        <div class=" carrera form-group  col-md-5">
        
            <div class="form-group   ">
                <table class=" table table-bordered">
                    <thead>
                      <tr>
                        <th>Firstname</th>
                        <th>Lastname</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>John</td>
                        <td>Doe</td>
                      </tr>
                      <tr>
                        <td>Mary</td>
                        <td>Moe</td>
                      </tr>
                      <tr>
                        <td>July</td>
                        <td>Dooley</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
         
        <div class=" funcion col-md-7">          
            <textarea name="Funciones" id="" style="width: 100%;" rows="10" ></textarea>
        </div>
    </div>
    

</div>
<hr>
</form>

   
    
